Breakpoints_v2.xcbkptlist
Podfile.lock
Pods
Build
Index
*/**/*.xcuserstate
*/**/*.xcbkptlist
*.xcbkptlist
*.xcuserstate
*xcshareddata
*.xccheckout
DegradrFilterTest.xcscheme
*/**/Build
*/**/Checkouts
*DerivedData/
build
*-build-*
*.user
ofx/**/meta/package.xml
ImageMetalling-17.iml
ImageMetalling-17/.idea
ImageMetalling-17/ofx/**/config/config.xml
ImageMetalling-17/ofx/**/meta/package.xml
